*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #3a495d;
    padding: 16px 0;
    color: #f5f6fa;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
header li a {
    color:#f5f6fa;
    text-decoration: none;
    
}
.container {
    width: 50px;
    margin: 0 auto;
}

img{
width: 1000px;
height: 600px;
}



.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {
    /*height: 30px;*/
    width: 20%;
}
.articles article {
    width: 20%;
}
section {
    padding: 10px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}
.articles article a:hover {
    text-decoration: underline;
}

.articles article p, 
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 20px;
}
section h2 {
    font-size: 30px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f595;
}

#economy .articles article a {
    background-color: #ff9f12;
}

#agronomy {
    background-color: lightblue;
}

#tecnology {
    background-color: hsl(5, 60%, 70%);
}

#tecnology .articles article a {
    background-color: red;

 